.break-btn {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
}
.break-block-login {
    height: 116px;
    margin: 0 -30px;
    a {
        height: 56px;
    }
}
.bl-1 {
    border-left: 1px solid $theme-color-secondary;
}