.list-group-item-nav {
    border: 1px solid #EAF0ED;
    &:hover {
        background-color: $theme-color-secondary;
    }
    &-active {
        background-color: $theme-color-secondary;
    }
}
.page-link {
    color: $theme-color;
    height: 60px;
    width: 60px;
    text-align: center;
    line-height: 42px;
    &:hover {
        color: $theme-color;
    }
    border: 1px solid #EAF0ED;
}
.page-item.active .page-link {
    background-color: $theme-color;
    border-color: $theme-color;
}